Repository numble04/Front: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npm run lint

stylelint:
  run: npm run lint:css

feat: community detail 페이지 구현
  pages/community/[id].tsx
Due: eslint, stylelint

feat: community list 에서 글 클릭시 routing
  components/Community/Board/Board.tsx
  pages/community/index.tsx
Due: eslint, stylelint

feat: logout 추가
  components/Main.tsx
  components/My/index.tsx
  components/ui/Button/Button.tsx
  hooks/user.ts
  public/images/background.png
Due: eslint, stylelint

feat: 온보딩 페이지, 이메일/닉네임 중복 체크 추가
  components/Signup/EmailStep.tsx
  components/Signup/PersonalInfoStep.tsx
  components/Signup/index.tsx
  components/templetes/Container.tsx
  components/ui/Typography/Text.tsx
  hooks/user.ts
  public/icons/dice.svg
  types/uesr.ts
Due: eslint, stylelint

modify: UI 대문자 통일
  components/ui/organisms/Navbar.tsx
Due: eslint, stylelint

modify: UI 대문자 통일
  components/Login/index.tsx
  components/Main.tsx
  components/My/index.tsx
  components/Signup/AreaSearch.tsx
  components/Signup/CurrentAreaStep.tsx
  components/Signup/EmailStep.tsx
  components/Signup/PasswordStep.tsx
  components/Signup/PersonalInfoStep.tsx
  components/Signup/index.tsx
  components/UI/Button/Button.tsx
  components/UI/Dropdown/index.tsx
  components/UI/Flex/Flex.ts
  components/UI/FormItem/FormItem.tsx
  components/UI/Header/index.tsx
  components/UI/Input/Input.tsx
  components/UI/Label/index.tsx
  components/UI/Modal/index.tsx
  components/UI/Textarea/index.tsx
  components/UI/Typography/Text.tsx
  components/UI/Typography/Typography.ts
  components/UI/atoms/Icon.tsx
  components/UI/atoms/Map.tsx
  components/UI/molecules/MeetingCard.tsx
  components/UI/organisms/Navbar.tsx
  components/UI/organisms/SampleButton/index.stories.tsx
  components/UI/organisms/SampleButton/index.tsx
  components/templetes/Container.tsx
  components/ui/atoms/Icon.tsx
  components/ui/atoms/Map.tsx
  components/ui/molecules/MeetingCard.tsx
  components/ui/organisms/Navbar.tsx
  components/ui/organisms/SampleButton/index.stories.tsx
  components/ui/organisms/SampleButton/index.tsx
  hooks/useList.tsx
  pages/meeting/[id].tsx
  pages/meeting/index.tsx
  public/locales/en/common.json
  public/locales/ja/common.json
  public/locales/ko/common.json
  utils/i18n.ts
Due: eslint, stylelint

fix: 잘못 삭제된 파일 복구구
  components/UI/atoms/Icon.tsx
  components/UI/atoms/Map.tsx
  components/UI/organisms/Navbar.tsx
  components/UI/organisms/SampleButton/index.stories.tsx
  components/UI/organisms/SampleButton/index.tsx
  public/locales/en/common.json
  public/locales/ja/common.json
  public/locales/ko/common.json
  utils/i18n.ts
Due: eslint, stylelint

feat: community type 파일 생성
  types/community.ts
Due: eslint

feat: board 컴포넌트 cusor 효과 설정
  components/Community/Board/Board.tsx
Due: eslint, stylelint

feat: community page list 스크롤 설정
  pages/community/index.tsx
Due: eslint, stylelint

feat: search 페이지 기본적인 레이아웃 & 기능 구현
  pages/search/index.tsx
Due: eslint, stylelint

fix: 메인 페이지 빠진 문구 추가
  components/Main.tsx
  components/My/index.tsx
  components/Signup/CurrentAreaStep.tsx
  components/UI/Header/index.tsx
  components/UI/Modal/index.tsx
  components/UI/Tab/index.tsx
  components/UI/organisms/Navbar.tsx
  styles/theme.ts
Due: eslint, stylelint

fix: 서울 -> 서울특별시 수정
  hooks/user.ts
Due: eslint

feat: 빈하트 svg 추가
  public/icons/heartEmpty.svg
Due: none

feat: 게시글 이미지등록 기능 구현
  pages/createBoard/index.tsx
Due: eslint, stylelint

feat: community페이지 thunmnail이미지 구현
  components/Community/Board/Board.tsx
Due: eslint, stylelint

feat: 모임 생성 페이지 달력, 타임피커 추가
  components/CreateMeeting/DateStep.tsx
  components/CreateMeeting/index.tsx
  package.json
  pages/_app.tsx
  styles/Home.module.css
  styles/timepicker.css
  types/uesrs.ts
  yarn.lock
Due: eslint, stylelint

merge
  components/CreateMeeting/AreaStep.tsx
  components/CreateMeeting/CapacityStep.tsx
  components/CreateMeeting/CostStep.tsx
  components/CreateMeeting/DateStep.tsx
  components/CreateMeeting/index.tsx
  components/Login/index.tsx
  components/Main.tsx
  components/Signup/AreaSearch.tsx
  components/Signup/CurrentAreaStep.tsx
  components/Signup/EmailStep.tsx
  components/Signup/PasswordStep.tsx
  components/Signup/PersonalInfoStep.tsx
  components/Signup/index.tsx
  components/UI/Button/Button.tsx
  components/UI/Dropdown/index.tsx
  components/UI/Flex/Flex.ts
  components/UI/FormItem/FormItem.tsx
  components/UI/Header/index.tsx
  components/UI/Input/Input.tsx
  components/UI/Label/index.tsx
  components/UI/Modal/Back.tsx
  components/UI/Modal/index.tsx
  components/UI/Textarea/index.tsx
  components/UI/Typography/Text.tsx
  components/UI/Typography/Typography.ts
  components/UI/molecules/MeetingCard.tsx
  components/templetes/Container.tsx
  components/ui/molecules/MeetingCard.tsx
  hooks/useList.tsx
  pages/createBoard/index.tsx
  pages/meeting/[id].tsx
  pages/meeting/index.tsx
Due: eslint, stylelint

feat: 커뮤니티 상세페이지 이미지 구현
  pages/community/[id].tsx
Due: eslint, stylelint

feat: communityDetailType 수정
  types/community.ts
Due: eslint

feat: community list react-query 적용 및 query string
  components/UI/organisms/Navbar.tsx
  pages/community/index.tsx
  pages/search/index.tsx
Due: eslint, stylelint

fix: 머지 시 누락 수정
  components/CreateMeeting/index.tsx
  components/UI/Button/Button.tsx
  components/UI/Dropdown/index.tsx
  components/UI/Flex/Flex.tsx
  components/UI/FormItem/FormItem.tsx
  components/UI/Input/Input.tsx
  components/UI/Label/index.tsx
  components/UI/Textarea/index.tsx
  components/UI/Typography/Typography.tsx
  components/UI/atoms/Map.tsx
  components/templetes/Container.tsx
  pages/meeting/index.tsx
  styles/timepicker.css
Due: eslint, stylelint

feat: scrollbar size 조절(5px)
  styles/globals.css
Due: stylelint

fix: 뒤로가기 클릭 시 route 에러 해결
  pages/createBoard/index.tsx
Due: eslint, stylelint

feat: 게시글 상세페이지 좋아요 기능 구현
  pages/community/[id].tsx
Due: eslint, stylelint

feat: communityDetailType 타입 수정
  types/community.ts
Due: eslint

feat: community page type
  pages/community/index.tsx
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  stylelint: any of: *.{css,tsx}
